.banner{
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner-img{
    width: 500px;
    height: 160px;
}